body {
  background-color: #b350b3;
}

.navbar {
  background-color: #b363b3;
}

.nav-link {
  color: goldenrod;
}

.navbar-brand {
  background-color: #b39874;
  padding: 0.2rem;
  border-radius: 100%;
}

.nav-link:hover {
  color: #b39874;
}
.about {
  background: #fefefe;
  align-items: center;
  margin: 2rem 17rem;
}

.about-img {
  margin: 2rem;
  width: 30%;
}

.about-text {
  height: 100%;
  text-align: justify;
  margin-right: 2rem;
}
.about-text p {
  color: #b350b3;
}

.about-title {
  margin-bottom: 5rem;
  color: #b39874;
}
.classes-title {
  text-align: center;
  color: #b39874;
}

.cards {
  margin-bottom: 2rem;
}
